*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.row{
    width: 100%;
}
.heading{
    text-align: center;
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.chicken{
    position: relative;
    border: 2px solid black;
    background-color: burlywood;
    max-width: 30%;
    margin-left: 70%;
    float: left;
    margin: 10px;
    overflow: auto;
    position: relative;
    box-sizing: border-box;
}
.chic{
    border: 2px solid black;
    width: 40%;
    margin-left: 60%;
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    color: cornsilk;
    background-color: crimson;
}

.beef{
    position: relative;
    border: 2px solid black;
    background-color: burlywood;
    max-width: 33%;
    float: left;
    margin: 10px;
    overflow: auto;
}
.bee{
    border: 2px solid black;
    width: 40%;
    margin-left: 60%;
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    color: cornsilk;
    background-color: crimson;
}
.sushi{
    position: relative;
    border: 2px solid black;
    background-color: burlywood;
    max-width: 33%;
    float: left;
    margin: 10px;
    overflow: auto;
}
.sus{
    border: 2px solid black;
    width: 40%;
    margin-left: 60%;
    margin-top: 0;
    text-align: center;
    font-size: 18px;
    color: cornsilk;
    background-color: crimson;
}
footer{
    margin-bottom: 0;
    
    
}
.hey{
    border: 1px solid orange;
    margin-bottom: 0;
    text-align: right;
    
}
.nav{
    overflow: hidden;
    background-color: orange;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.hey{
    font-weight: bolder;
    float: right;
}